@model Post
@using Util

@{
    var userId = User.GetUserId();
}
<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex justify-content-between align-self-center">
            <h5>
                <a asp-page="Profile" asp-route-id="@Model.CreatedBy.Id">@Model.CreatedBy.FullName</a>
            </h5>
            @if (userId == Model.CreatedById)
            {
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item" asp-page="Posts/Edit" asp-route-id="@Model.Id">Edit</a>
                        <a class="dropdown-item" asp-page="Posts/Delete" asp-route-id="@Model.Id">Delete</a>
                    </div>
                </div>
            }
        </div>
        @{ var iso8601Date = Model.UpdatedOn.ToString("o", System.Globalization.CultureInfo.InvariantCulture); }
        <time class="timeago card-subtitle text-muted" datetime="@iso8601Date">@iso8601Date</time>

        <div class="truncate-text-container">
            <p class="truncate-text card-text">@Model.Content</p>
        </div>

        <div class="card-text mb-2">
            <span class="badge badge-pill badge-primary js-like-count" data-like-count="@Model.LikeSet.Count" data-post-id="@Model.Id">@Model.LikeSet.Count @(Model.LikeSet.Count == 1 ? "Like" : "Likes")</span>
        </div>

        @if (userId.HasValue)
        {

            var liked = Model.LikeSet.Contains(userId.Value);
            var cssClass = liked ? "btn-primary" : "btn-light";
            var label = liked ? "Liked" : "Like";

            <button type="button" class="js-like btn @cssClass btn-block" data-liked="@liked" data-post-id="@Model.Id">@label</button>
        }
    </div>
</div>
